<h3><i class="fa fa-angle-right"></i>Tipo de Documento</h3>
<br />
<div class="col-md-12">
    <div class="content-panel">
        <h4><i class="fa fa-angle-right"></i>Informacion del tipo de documento seleccionada</h4>
        <hr>
		<p>
		  <strong>Palabra:</strong>
		  <%= @speciality.name%>
		</p>

		<p>
		  <strong>Descripcion:</strong>
		  <%= @speciality.description %>
		</p>

		<%= link_to 'IR A LA LISTA', prose_index_path  %><br />

	</div>
</div>