<div class="row">
	<div class="page-header">
		<h1>Enrique Buenaventura <small>Sobre un hombre de teatro</small></h1> 
	</div>			
</div>

<div class="row">
	<p>Aca iria el texto del se침or mario cardona</p>
</div>

<div>
	<div class="row">
		<div class="col-md-8">
			<div id="mycarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
				<div class="carousel-inner">

					<div class="item active tam">
						<%= image_tag "imagen1.jpg", :class => "tam"%>
						<div class="carousel-caption">
                  			<h3>Titulo</h3>
                  			<p>Descripci칩n</p>
                		</div>
					</div>
					<div class="item">
						<%= image_tag "imagen2.jpg", :title => "imagen 2"%>
						<div class="carousel-caption">
                  			<h3>Titulo</h3>
                  			<p>Descripci칩n</p>
                		</div>		
					</div>
					<div class="item">
						<%= image_tag "imagen3.jpg", :title => "imagen "%>
						<div class="carousel-caption">
                  			<h3>Titulo</h3>
                  			<p>Descripci칩n</p>
                		</div>		
					</div>

				</div>
				<a class="carousel-control left" href="#mycarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#mycarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>

			</div>
		</div>
	    <div class="col-md-4">
	    	<div class="panel panel-default">
	    		<div class="panel-heading">
	    			<h2>Mario Cardona</h2>
	    		</div>
	    		<div class="panel-body">
	    			<p>Profesor adjunto a la faculta de artes de la universidad de antioquia</p>
	    			<br></br>
	    			<a href="">Hojade vida del profesor Mario Cardona </a>
	    		</div>

	    	</div>
	    </div>	
	</div>
</div>


<div class="container">
	<div class="btn-group btn-group-lg">
		<button type="button" class="btn btn-default">Documentos</button>
		<button type="button" class="btn btn-default">Elementos de analizis</button>
		<button type="button" class="btn btn-default">Autores citados</button>
		<button type="button" class="btn btn-default">Bibliografia citada</button>
		<button type="button" class="btn btn-default">Glosario</button>
		<button type="button" class="btn btn-default">Cronologia</button>
	</div>	
</div>	


