<div id="main">	
	<div class="wrapper">
		<div id="slider-holder" class="clearfix">
			
			<!-- slider -->
	        <div class="flexslider home-slider">
			  <ul class="slides">
			    <li>
			      <%= image_tag "01.jpg", :alt=>"alt text" %>
			    </li>
			    <li>
			     <%= image_tag "02.jpg", :alt=>"alt text" %>
			      <p class="flex-caption">Pellentesque habitant morbi  feugiat vitae.</p>
			    </li>
			    <li>
			      <%= image_tag "03.jpg", :alt=>"alt text" %>
			    </li>
			  </ul>
			</div>
        	<!-- ENDS slider -->
        	
        	<div class="home-slider-clearfix "></div>
        	
        	<!-- Headline -->
        	<div id="headline">
				<%= image_tag "avatar.jpg", :width=>"100" %>
        		<h1>Mario Cardona</h1> 
        		<p>Profesor encargado del los cursos ................ Ademas tiene experiencia en ...........</p>       		
        		<em id="corner"></em>
        	</div>
		</div>      	
	</div>
</div>



