<blockquote>
  <h1>
  	Por ahora no tienes acceso al contenido de la plataforma, Debes esperar hasta que el administrador de la pagina te conceda los permisos necesarios para poder acceder al contenido. 
  </h1><br>
  <h2>Muchas gracias</h2><br>
  <h3>Atentamente: Mario Cardona</h3>
</blockquote>


