<div class="row">
	<div class="col-md-11 container">
		<h1 class="title"><strong>Enrique Buenaventura</strong></h1>
		<h5 class="subtitle">SOBRE UN HOMBRE DE TEATRO</h5> 
	</div>
	<div class="col-md-1 container">
		<div>  
	  		<% if user_signed_in? %>  
	    	   	<%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :type=>"botton", :class=>" sign-out btn btn-default"%> 
	  		<% end %>  
		</div>
	</div>				
</div>

<hr width="100%">

<blockquote>
  <h1>
  	Por ahora no tienes acceso al contenido de la plataforma, Debes esperar hasta que el administrador de la pagina te conceda los permisos necesarios para poder acceder al contenido. 
  </h1><br>
  <h2>Muchas gracias</h2><br>
  <h3>Atentamente: Mario Cardona</h3>
</blockquote>


