<footer>
	<div class="wrapper">	
		<div class="footer-bottom">
			<div class="left">Created by <a href="" >Carlos Agudelo</a></div>
			<div class="right">
				<div class="right">
					<ul id="social-bar">
						<li>
							<a href="http://www.facebook.com/"  title="Become a fan" class="poshytip">
								<%= image_tag "facebook.png", :alt=>"Facebook"%>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/" title="Follow my tweets" class="poshytip">
								<%= image_tag "twitter.png", :alt=>"Twiter"%>
							</a>
						</li>
						<li>
							<a href="https://plus.google.com/"  title="Add to the circle" class="poshytip">
								<%= image_tag "plus.png", :alt=>"Google plus"%>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</footer>