<header class="header black-bg">
  <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
  </div>
  <a href="" class="logo"><span class="glyphicon glyphicon-align-justify"></span> <b>PANEL DE ADMINISTRACION</b></a>
  <!--logo end-->
  <div class="top-menu">
  	<ul class="nav pull-right top-menu">                    
      <% if user_signed_in? %>  
          <li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class=>"logout" %></li> 
      <% end %> 
  	</ul>
  </div>
</header>




