<header class="header black-bg">
  <a href="http://www.enriquebuenaventura.com:3000/" class="logo"><span class="glyphicon glyphicon-align-justify"></span> <b>PANEL DE ADMINISTRACIÓN</b></a>
  <!--logo end-->
  <div class="top-menu">
  	<ul class="nav pull-right top-menu">                    
      <% if user_signed_in? %>  
          <li><%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete, :class=>"logout" %></li> 
      <% end %> 
  	</ul>
  </div>
</header>




